body{
    background-color: #333;
    color: gray;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    margin: 0 auto;
    color: #4566;
    width: 70%;
    border: .5px solid gray;
    

}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;  
      color:blanchedalmond;

}
p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color:blanchedalmond;
}

.options{
    padding: 3rem;
    color: aliceblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    border: none;
    outline: none;
    color: white;
    background-color: #1b0f0f;
    width: 50%;
    
    padding: 12px 17px;
    

}

/* custom checkbox */

.c-box input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.c-box .checkmark{
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 4px;
}
label{
    display: flex;
   font-size: 10px;
    align-items: center;
    gap: 2rem;
}
h1{
    background-color: #1b0f0f;
    opacity: 0.6;
    padding: 12px;
}

span{
    font-size: 9px;
    padding: 12px;
}
.c-box input:checked ~ .checkmark{
    background-color: #ccc;
}

.c-box input:checked ~ .checkmark{
    background-color: #1b0f0f;
}

.c-box .checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.c-box input:checked ~ .checkmark:after{
    display: block;
}

/* .c-box .checkmark:after{
    left: 9px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
} */

button{
    padding: 12px 7px;
    width: 20%;
    cursor: pointer;
    transition: 1s all ease-in;
    border: none;
    outline: none;

}
button:hover{
    color: #fff;
    background-color: #1b0f0f;
}

@media screen and (max-width:760px){
    button{
        width:50%;
        font-size: 1rem;
        padding: 10x 10px;
    }

    .generate{
        width: 100%;
    }
    #copy{
        width: 24%;
    }
    .desc{
        width: 90%;
    }
    .title{
        color: aliceblue;
    }
    #length{
        width: 90%;
        margin: 0 auto;
    }
    .container{
        border: none;
    }
}


.footer{
    font-size: 17px;
    color: gray;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: skyblue;
    padding: 6px;
    background-color: tomato;
    border-radius: 12px;
}

